:root {
  --bg: #1f1f1f;
  --alt: #2f2f2f;
  --fg: #f1f1f2;
  --white: #ffffff;
  --grey: #708090;
  --border: #000000;
  --green: #42d392;
  --blue: #5d8fe8;
  --red: #ff4482;
  --purple: #e0aaff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

/*--------------------------HEADER--------------------------*/
header {
  background-color: var(--alt);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  border-radius: 0px 0px 40px 40px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 50%;
  padding: 0px 20px;
}

.logo h1 {
  font-size: 2rem;
  background: linear-gradient(45deg, var(--green), var(--blue));
  background-size: 400% 100%;
  animation: degrade 20s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo p {
  font-size: 1rem;
  color: var(--fg);
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}

.social a {
  text-decoration: none;
}

.social i {
  font-size: 2.3rem;
  color: var(--fg);
}

/*---------------------MAIN-------------------------*/
main {
  display: flex;
  height: calc(100% - 20% - 5%);
  width: 100%;
  border-radius: 20px;
}

.content h2 {
  color: var(--fg);
  margin-bottom: 20px;
}

.content {
  display: none;
}

.content.active {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  opacity: 1;
}

.content .menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
}

span {
  color: var(--fg);
  font-size: 1rem;
}

.menu-name {
  color: var(--white);
}

.menu-price {
  color: var(--purple);
  font-weight: bold;
  border-radius: 10px;
}

.menu-size {
  color: var(--green);
  font-weight: bold;
}

/* Estilo do modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  padding: 10px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

/* Conteúdo do modal */
.modal-content {
  background-color: var(--white);
  color: var(--blue);
  font-size: 1.2rem;
  margin: 50% auto;
  transform: translateY(100%);
  padding: 20px 50px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Botão de fechar */
.close-button {
  color: var(--red);
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

/*---------------------FOOTER------------------------*/
footer {
  background-color: var(--alt);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10%;
  width: 100%;
}

footer button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 50%;
  border-radius: 50%;
  font-size: 1.8rem;
  color: var(--fg);
}

@keyframes degrade {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position: 400%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #ffffff;
    --alt: #f1f1f1;
    --fg: #333333;
    --white: #333333;
    --grey: #708090;
    --border: #000000;
    --green: #42d392;
    --blue: #5d8fe8;
    --red: #ff4482;
    --purple: #bf51ff;
  }
}

@media (max-width: 480px) {
  .logo h1 {
    font-size: 1.5rem;
  }

  .social i {
    font-size: 2rem;
  }

  span {
    font-size: 0.8rem;
  }
}
